.rose{
	color:#fa3778;
}
.up .iconfont,.down .iconfont{
	color: #c69a62;
	font-size: 20px;
	line-height: 40px;
}
.down .big .iconfont{
	font-size: 50px;
	text-align: center;
	position: absolute;
	left: -3px;
	line-height: 25px;
}
/**************************************8*/
#top{
	width: 100%;
	height: 32px;
	background-color: #f2f2f2;
}
#top-c{
	width: 1200px;
	height: 32px;
	margin: 0 auto;
}

#top-c-left{
	width: 201px;
	height: 32px;
	float: left;
}
#top-c-right{
	width: 665px;
	height: 32px;
	float: right;
}
#login{
	line-height: 32px;
    font-size: 12px;
    color: #6c6c6c;
}
.login{
	margin-left: 10px;
}
#login a{
	text-decoration: underline;
	color: #ec3e7d;
}
.top-li{
	padding: 0 12px;
	line-height: 32px;
    font-size: 12px;
    color: #6c6c6c;
}
.top-li a{
	color: #6c6c6c;
	text-decoration: none;
}
.top-li:hover{
	background-color: white;
}
/************************我的账户二级菜单***************************/
#mycount{
	
	position: relative;
}
.my{
    font-size: 12px;
    line-height: 32px;
    color: #6c6c6c;
}
#mybox{
	width: 86px;
	height: auto;
	padding: 5px 10px 10px 20px;
	background-color: white;
	position: absolute;
	top: 32px;
	left: 0px;
	z-index: 1;
	box-shadow: 0px 4px 8px rgba(0,0,0,.2);
	display: none;
	
}
#mycount:hover #mybox{
	display: block;
}
#mycount img{
	width: 10px;
	height: 10px;
}
/******************logo和搜索栏*******************/
#logo{
	width: 100%;
	height: 95px;
}
#logo-c{
	width: 1200px;
	height: 95px;
	margin: 0 auto;
	position: relative;
}
#shashalogo{
	width: 180px;
	height: 45px;
	position: absolute;
    top: 21px;
}
#search{
	width: 500px;
	height: 66px;
	position: absolute;
    left: 400px;
    top: 21px;
}
#search-input{
	width: 346px;
	height: 36px;
	background-color: #ec3e7d;
    float: left;
    display: inline;
    position: relative;
}
#search-input input{
	border: none;
    width: 330px;
    height: 24px;
    line-height: 24px;
    padding: 3px 5px;
    font-size: 14px;
    position: absolute;
    left: 3px;
    top: 3px;
    outline:none;
}
#inp-btn{
	border: none;
    color: white;
    text-align: center;
    background-color: #ec3e7d;
    width: 90px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    left: 346px;
}
/*******************搜索栏下面一小行**********************/
#search-list{
	width: 500px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
}
#search-list a{
	color: #999;
    border-left: 1px solid #999;
    line-height: 14px;
    height: 14px;
    display: inline-block;
    padding: 0 10px;
    margin-left: -10px;
    margin-right: 10px;
    text-decoration: none;
}
#nav{
	width: 100%;
	height: 36px;
}
#nav-c{
	width: 1200px;
	height: 36px;
	margin: 0 auto;
	position: relative;
}
#nav-list{
	width: 462px;
	height: 36px;
	float: left;
    line-height: 36px;
    color: #3e3e3e;
    position: relative;
    margin-left: 210px;
}
.nav-item{
	float: left;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    padding: 0 5px;
    text-align: center;
    color: #111111;;
}
.nav-item:hover{
	color: #fa3778;
}
.nav-item img{
	margin-bottom: -1px;
	vertical-align:inherit ;
}
.nav-sep{
	float: left;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    color: #eee;
    padding: 0 10px;
}
#all-category{
	width: 190px;
	height: 36px;
	position: absolute;
}
#category-header{
	width: 180px;
	height: 36px;
	padding-left: 10px;
	background-color: #333;
	color: #fff;
    font-size: 16px;
    line-height: 36px;
}
#category-list{
	width: 190px;
	height: 420px;
	position: absolute;
	top: 36px;
	z-index: 4;
	display: none;
}
/******当hover全部分类的时候再出现********/
#all-category:hover #category-list{
	display: block;
}

.category-list-item{
	display: block;
	width: 162px;
    height: 29.5px;
    padding: 11px 14px;
    position: relative;
    background-color: #fa3778;
    border-bottom: 1px dotted #fe7dab;
}
.category-list-item:hover{
	background-color: white;
}
.category-list-item:hover .list-item-md{
	color: #fa3778;
}
.category-list-item:hover .list-item-pic{
	background-image: url(../img/index/icon/li02.png);
}

.category-list-item:hover .list-item-right{
	background-image: url(../img/index/header/jianjiaohao-r2.png);
}
/*******************列表第一个的二级菜单********************/
#category-list-item-show{
	width: 340px;
    overflow: hidden;
    padding: 10px 25px;
    overflow: hidden;
    position: absolute;
    left: 190px;
    top: -1px;
    border: 1px solid #fa3778;
    background-color: white;
    display: none;
}
#category-list-item-show p{
	font-size: 13px;
	line-height: 30px;
	color: #555;;
}
#category-list-item-show p span{
	padding: 0 8px 0 0;
	color: #999;
}

#fist-item:hover #category-list-item-show{
	display: block;
}
.list-item-pic{
	width: 20px;
	height: 20px;
	position: absolute;
    top: 16px;
    left: 14px;
    background-image: url(../img/index/icon/li.png);
}

#pic1{
	background-position: center -10px;
}
#pic2{
	background-position: center -43px;
}
#pic3{
	background-position: center -77px;
}
#pic4{
	background-position: center -110px;
}
#pic5{
	background-position: center -143px;
}
#pic6{
	background-position: center -178px;
}
#pic7{
	background-position: center -210px;
}
#pic8{
	background-position: center -243px;
}
.list-item-md{
	width: 64px;
	height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 35px;
    overflow: hidden;
    color: #fff;
    font-size: 16px;
}
.list-item-right{
	display: block;
    float: right;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    background-image: url(../img/index/header/jianjiaohao-r1.png);
    background-size: 100% 100%;
    position: absolute;
    top: 17px;
    right: 20px;
}
/******************侧边栏********************/
#sidebar{
	height: 100%;
	width: 40px;
	background: #4c4c4c;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
}
#know{
	width: 20px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}
.up{
	position: absolute;
	top: 8%;
	color: white;
	
}
.down{
	position: absolute;
	bottom: 2%;
	color: white;
}
.side{
	height: 40px;
	text-align: center;
	width: 40px;
	position: relative;
}
.car{
	padding: 15px 0;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    margin: 10px auto;
    height: 90px;
    text-align: center;
    width: 40px;
}
.up a,.down a{
	text-decoration: none;
	color: white;
}
.car b{
	background-color: #ec3e7d;
    line-height: 13px;
    padding: 0 3px;
    min-width: 12px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
}
.up li:hover{
	background-color: #fa3778;
}
.up #know:hover{
	background-color: #4c4c4c;
}
.down li:nth-child(1):hover,.down li:nth-child(2):hover{
	background-color: #fa3778;
}
/****************侧边栏的移动盒子********************/
.sonBox{
	width: 100px;
	height: 40px;
	background: #4c4c4c;
	position: absolute;
	right: 40px;
	top: 0px;
	font-size: 14px;
	line-height: 40px;
	transition: left 1s linear 0s;
	display: none;
}
.sonBox img{
	display: block;
	margin-left: 98px;
	margin-top: -28px;
}
@-webkit-keyframes left{
	0%{
		opacity: 0;
		left: -150px;
	}
	100%{
		opacity: 1;
		left: -100px;
	}
}
#fath1:hover #son1,#fath2:hover #son2,#fath3:hover #son3{
	display: block;
	animation: left 1s;
}

/**************************底部**************************/